<!DOCTYPE html>
<html lang="en">
  <head>   
    <title>welcome</title>
    
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
      #nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-top: 80px;
}
        .jumbotron{
            background:black;
        color:white;
            text-align: left;
            
            
        }

        .jumbotron h1{
         font-size:50px;
            margin:30px;
        }
        .jumbotron h3{
        color:aqua;
            margin:30px;
        }
        .jumbotron h2{
            color:crimson;
        text-align: right;
        }
        
        .box{
            
            color:black;
            font-size: 20px;
            text-align: left;
            margin: 0 10px 0 20px;
        }
        
        #duplicate{
            background: #313461;
            color:#fff;
            
        }
        #duplicate h1{
        color:white;
            font-size: 50px;
            margin: 5 10 0 5;
        
        }
        #duplicate ul li{
          color:white;
            font-size: 30px;
           
        }
        .img-full{
            width: 100%;
        }
        .ab{
            margin:0 0 0 65px;
        }
        #as{
            background:#008080;
            margin: 0 0 0 0px;
	    padding: 0px;
	    background: white;
        }
        .form-group{
            margin:20px;
	    
        }	
        #btnn{
            margin:0 0 0 65px;
        }
        .footer{
            background:black;
            height:auto;
            padding: 50px;
            text-align: center;
        }
        .x{
            color:red;
        }
    </style>
  </head>
  <body>
  
      
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">vChaudhary</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto ">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" targe="About" href="#About">About</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://www.linkedin.com/in/chaudhary-vineet/" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contacts</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Facebook</a>
              <a class="dropdown-item" href="#">Instagram</a>
              <a class="dropdown-item" href="#">Quora</a>
              <a class="dropdown-item" target="#blank" href="https://github.com/vineet-c">GitHub</a>
              <a class="dropdown-item" target="#blank" href="www.linkedin.com/in/chaudhary-vineet">LinkedIn</a>
          </div>
          </li>
            <li class="nav-item">
            <a class="nav-link" target="#blank" href="https://github.com/vineet-c">Projects</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
 
      <div class="jumbotron">
      <div class="container">
        <h1> &lt Vineet Chaudhary &#47&gt</h1>
          <h3>.. upcoming developer..</h3> 
          <p><h2>Don't be silly . Just pick up anything & CODE</h2></p>
      </div>
      </div>
<div class="section">
<div class="row">
    <div class="col-md-6 box">
    <p> <h4>About Me !</h4></p>
    <p> Hi ! I 'm Vineet Chaudhary ,<br> a student of Chandigarh University , Mohali ( INDIA ). <br>Currently , I am persuing B.E. CSE-IBM-Cloud Compputing ( 2016-2020 ).</p>
    </div>
    </div>

</div>
<br>
<br>
<br>

<div class="jumbotron" id="duplicate">  
    <h1>Skills</h1>
    <ul>
        <li> Learning  </li>
        <li> C++ </li>
        <li> Java </li>
        <li> JQuery</li>
        <li> Node.js </li>
    </ul>
    </div>
<div id="as">
    <h1>Feedback</h1>
        <br>
        <br>
        <form>
            
  <div class="form-group">
    <label >Name</label>
    <input type="text" >
    <small id="emailHelp" class="form-text text-muted"><span class="x">We'll never share your email with anyone else.</span></small>
  </div>
  <div class="form-group">
    <label >Emaill</label>
    <input type="email" >
  </div>
<div class="ab" ><textarea>Messge</textarea>
  </div>
            <br>
  <div id="btnn">          
  <button type="submit" class="btn btn-primary">Submit</button></div><br>
            
</form>
    </div>
                                               
<div class="footer">
        <h5> Copyright &copy; vChaudhary 2017</h5>           
 </div>
      

   
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
